/*  your css code here. If applicable */
#grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: white;
}

#grid > div {
  background-color: forestgreen;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

/* Grid placement */
#grid > div:nth-child(1) {
  grid-column: 1 / 4;
}
#grid > div:nth-child(2) {
  grid-row: 2 / 6;
  grid-column: 1 / 2;
}
#grid > div:nth-child(3) {
  grid-column: 2 / 3;
}
#grid > div:nth-child(4) {
  grid-column: 3 / 4;
}
#grid > div:nth-child(5) {
  grid-column: 2 / 4;
}
#grid > div:nth-child(6) {
  grid-column: 3 / 4;
}
#grid > div:nth-child(7) {
  grid-column: 2 / 3;
}
#grid > div:nth-child(8) {
  grid-column: 3 / 4;
}
#grid > div:nth-child(9) {
  grid-column: 3 / 4;
}
#grid > div:nth-child(10) {
  grid-column: 2 / 4;
}
